.contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.1vw;
    max-width: 60vw;
    width: 100%;
    height: 60vh;
    background: inherit;
    padding: 2vw;
    border-radius: 2vw;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.14);
}

.heading{
    font-size: 4vw;
    font-weight: bold;
}

form .input-box{
    margin-top: 1vw;
}

.input-box .field {
    width: 100%;
    /* margin: 0 30px 0 30px; */
    height: 3vw;
    background: transparent;
    /* border: 1px solid #ddd; */
    outline: none;
    /* border-radius: 1vw; */
    /* padding: 1vw; */
    border-bottom: 1px solid #9CA392;
}

.input-box .field.message{
    padding-top: 0.5vw;
    height: 3vw;
    resize: none;
    /* border: 1px solid #9ca392; */
}

form button{
    padding: .5vw;
    width: 15vw;
    height: 3.4vw;
    background: #CDEA68;
    color: black;
    border: none;
    border-radius: 2vw;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.14);
    font-weight: 700;
    transition: all ease-in 0.4s;
}

form button:hover{
    background: black;
    color: #CDEA68;
}

form button:active{
    background: white;
    color: black;
}